html{
    scroll-behavior: smooth;
}

body{
    background-color: #023859;
    font-family: 'Merienda', cursive;
}

header {
    width:100%;
    background-color: #0367A6;
}

.logo{
    color: #88A1D9;
    text-align: center; 
    font-size: 1.2em;
}

nav{
    font-size: 1.2em;
    color: #88A1D9;
    text-align: center;
}

.banner{
    width: 100%;
}

.container{
    background-color: #064a75;
    width: 80%;
    margin: auto;
}

h1 {
    color: #7ca1f0;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

h2 {
    color: #88A1D9;
    text-align: center;
    font-size: 1.4em;
    padding-top: 1%;
    padding-bottom: 1%;
}

p{ 
    color: #a9b7d6;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    line-height: 1.3;
    font-size: 1.1em;
    text-align: justify;
    text-indent: 25px;
}

.listameio li{
    color: #a9b7d6;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    line-height: 1.2;
    font-size: 1.0em;
     
}

.listameio{
    list-style-image: url('../img/dancarino.png');
    margin-left: 3%;
    

}

img{
    width: 30%;

}

footer{
    width:100%;
    background-color:#064a75;
    color: #7ca1f0;
    font-size: 1.2em;
    text-align: center;

}

.icone{
    width: 3%;
}

figcaption{
    color: #a9b7d6;
    padding-top: 0.1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    line-height: 1.3;
    font-size: 0.9em;
    text-indent: 15px;
}

a{
    color: #88A1D9;
}

.imgesquerda{
    float: left;
}

.imgtam{
    width: 30%;
    margin: 1%;
}

.imgcentro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.legenda{
    text-align: center;
    padding-top: 0.5%;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.col-6{
    width: 50%;
    margin-top: 2.5%;
}

@media (max-width: 800px){
    .linha{
        flex-direction: column;
    }
    .col-6{
        width: 100%;
    }
}

.imgcard{
    width: 90%;
}

.descricao{
    text-align: center;
}

.img-card{
    background-image: linear-gradient(to bottom right, #023859, #0a5a8c);
    border-style: double;
    border-width: 5px;
    border-color: #023859;
    box-shadow: 10px 10px 10px 1px #186493; 
    width: 70%;
    margin: auto;
}

.card{
    background-image: linear-gradient(to bottom right, #023859, #0a5a8c);
    border-style: double;
    border-width: 5px;
    border-color: #023859;
    box-shadow: 10px 10px 10px 1px #186493; 
    width: 70%;
    margin: auto;
}

table{
    font-family: 'Merienda', cursive;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    background-color: #5d7ec7;
}
  
td, th{
    border: 2.5px solid #023859;
    text-align: center;
    padding: 8px;
    border-style: dashed;
}
  
tr:nth-child(even) {
    background-color: #064a75;
}