html{
    scroll-behavior: smooth;
}

body{
    background-color: #023859;
    font-family: 'Merienda', cursive;
}

header {
    width:100%;
    background-color: #1e5d85;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partfixa{
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    z-index: 1;
}


.logo-topo{
    width: 30%;
}

.itens{
    line-height: 2;
    text-align: center;
    color: #011f31;
    font-size: 1.1em;
}

.itens a{
    font-size: 1em;
}

.itens a:hover{
    padding: 0.75%;
    background-color: #064a75;
    text-decoration: none;
    border-radius: 20%;
}

.itens a:active{
    background-color: #1e5d85;
}

.banner{
    width: 100%;
}

.bannermusica{
    width: 100%;
}

.bannercontato{
    width: 100%;
}

.container{
    background-color: #064a75;
    width: 80%;
    margin: auto;
}

h1 {
    color: #7ca1f0;
    text-align: center;
    font-size: 1.5em;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.desenvolvido{
    color: #7ca1f0;
    text-align: center;
    font-size: 1.2em;
    padding-top: 1.5%;
    padding-bottom: 1%;
}

h2 {
    color: #88A1D9;
    text-align: center;
    font-size: 1.4em;
    padding-top: 1%;
    padding-bottom: 1%;
}

p{ 
    color: #a9b7d6;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    line-height: 1.3;
    font-size: 1.1em;
    text-align: justify;
    text-indent: 25px;
}

.listameio li{
    color: #a9b7d6;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    line-height: 1.2;
    font-size: 1.0em;
     
}

.listameio{
    list-style-image: url('../img/ballet4.png');
    margin-left: 5%;
}

img{
    width: 30%;
}

footer{
    width:100%;
    background-color: #1e5d85;
    color: #7ca1f0;
    font-size: 1.2em;
    text-align: center;
}

.icone{
    width: 3%;
    padding-top: 1%;
}

figcaption{
    color: #a9b7d6;
    padding-top: 0.1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    line-height: 1.3;
    font-size: 0.9em;
    text-indent: 15px;
}

.imgesquerda{
    float: left;
}

.imgtam{
    width: 30%;
    margin: 1%;
}

.imgcentro{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.legenda{
    text-align: center;
    padding-top: 0.5%;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.col-6{
    width: 50%;
    margin-top: 2.5%;
}

@media (max-width: 800px){

    .linha{
        flex-direction: column;
    }

    .col-6{
        width: 100%;
    }
}

@media screen and (max-width:600px) {

    .banner{
        margin-top: 72%;
    }

    .logo{
        width: 70%;
        padding-top: 0.25%;
        text-align: center;
    }

    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }

    .icone{
        width: 7%;
    }
}

@media screen and (min-width: 601px) {

    header{
        flex-direction: row;
    }

    .itens{
        position: absolute;
        right: 1%;
        top: 35%;
        width: 90%;
    }

    .itens ul li{
        display: inline;
        margin-left: 1%;
    }

    .logo{
        padding-left: 2%;
        text-align: left;
        width: 30%;
    }

    .banner{
        margin-top: 9%;
    }
}

.imgcard{
    width: 90%;
}

.descricao{
    text-align: center;
}

.img-card{
    background-image: linear-gradient(to bottom right, #023859, #0a5a8c);
    border-style: double;
    border-width: 5px;
    border-color: #023859;
    box-shadow: 10px 10px 10px 1px #186493; 
    width: 70%;
    margin: auto;
}

.card{
    background-image: linear-gradient(to bottom right, #023859, #0a5a8c);
    border-style: double;
    border-width: 5px;
    border-color: #023859;
    box-shadow: 10px 10px 10px 1px #186493; 
    width: 70%;
    margin: auto;
}

table{
    font-family: 'Merienda', cursive;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    background-color: #023859;
}
  
td, th{
    border: 2px solid #7ca1f0;
    text-align: center;
    padding: 15px;
    border-style: dashed;
    color: #7ca1f0;
}
  
tr:nth-child(even){
    background-color: #064a75;
}

.bordacontato{
    background-color: #3b779cda;
    padding: 3%;
    border-radius: 25px;
    margin-top: 1%;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}

label{
    padding: 10px 10px 10px 0;
    display: inline-block;
}

input[type=text], select, textarea, input[type=tel], input[type=email] {
    width: 90%;
    padding: 12px;
    border: 2px dashed #03283d;
    border-radius: 15px;
    resize: vertical;
    font-family: 'EduNSWACTFoundation-VariableFont_wght',cursive;
}

input[type=text]:focus{
    background-color: #d4d4d4b7;
}

select:focus{
    background-color: #d4d4d4b7;
}

textarea:focus{
    background-color: #d4d4d4b7;
}

input[type=tel]:focus{
    background-color: #d4d4d4b7;
} 

input[type=email]:focus{
    background-color: #d4d4d4b7;
}


.col-25{
    width: 25%;
    float: left;
    margin-top: 6px;
}
  
.col-75{
  width: 75%;
  float: left;
  margin-top: 6px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=submit] {
    background-color: #03283d;
    color: white;
    margin-top: 0.75%;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #000d14;
    font-weight: bolder;
}

